{# Overrided Django REST Framework browsable API's template. #}

{% extends "rest_framework/base.html" %}
{% load static %}
{% load compress %}
{% load i18n %}

{% block style %}
    {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
    {% endblock %}

    {# Custom favicon.ico static location. #}
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    {% if code_style %}<style>{{ code_style }}</style>{% endif %}
{% endblock %}


{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="#">
        {% trans 'Sell it! - API' %}
    </a>
{% endblock %}
