{# Overrided error code 403 template. #}
{% extends "offers/base.html" %}
{% block content %}
    <div class='content-section pt-3'>
        <div class="alert alert-danger" role="alert">
            <div class="row justify-content-center">
                <div class="col">
                    <span class="alert-heading display-4">403 - Forbidden</span>
                </div>
            </div>
            <hr>
            <span>Seems like you don't have permissions to view this.</span><br>
        </div>
    </div>
{% endblock content  %}